html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "TT Firs Neue";
  color: var(--default-font-color);
}

.main-bg {
  background: var(--main-bg-color);
}

.app-wrapper {
  display: flex;
  padding-top: 3rem;
  padding-right: 3rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--default-font-color);
}

.rounded-block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.full-size {
  width: 100%;
  height: 100%;
}

.avg-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.tooltip {
  --bs-tooltip-border-radius: 5px;
  --bs-tooltip-bg: #fff;
  --bs-tooltip-color: #000;
  --bs-tooltip-font-size: max(0.9rem, 9px);
}

.tooltip-arrow {
  display: none !important;
}

.modal {
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content,
  .modal-body {
    border-radius: 10px;
    width: 365px;
  }
  .modal-body {
    padding: 3rem 2rem;
  }
}

.rounded-modal {
  .modal-content,
  .modal-body {
    border-radius: 20px 0px 0px 20px;
  }
}

@media (max-width: 992px) {
  html,
  body {
    font-size: 8px;
  }
}
