html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "TT Firs Neue";
  color: var(--default-font-color);
}

.main-bg {
  background: var(--main-bg-color);
}

.gray-bg {
  border-radius: 5px;
  background: #f3f4f8;
  padding: 2rem 1rem;
}

.app-wrapper {
  display: flex;
  padding-top: 3rem;
  padding-right: 3rem;
}

.rounded-block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.full-size {
  width: 100%;
  height: 100%;
}

.avg-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.gray-line {
  height: 0.5px;
  background: #acacac;
}

@import "~/app/styles/colors.scss";
$default-font-color: map-get($colors, "default-font-color");

.control-panel {
  margin-top: 2rem;
  display: flex;

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5rem;

    span {
      color: rgba($default-font-color, 0.5);
      font-family: "Gilroy";
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.4rem;
    }
  }
}

@media (max-width: 992px) {
  html,
  body {
    font-size: 8px;
  }
}
