.modal {
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content,
  .modal-body {
    border-radius: 10px;
    width: 365px;
  }
  .modal-body {
    padding: 3rem 2rem;
  }
}

.rounded-modal {
  .modal-content,
  .modal-body {
    border-radius: 20px 0px 0px 20px;
  }
}

.gradient-modal {
  .modal-content,
  .modal-body {
    border-radius: 10px;
    background: var(--main-bg-color);
  }
}
