@import "~/app/styles/colors.scss";
$font-color: map-get($colors, "default-font-color");

.title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

input,
textarea,
select {
  border-radius: 10px !important;
  width: 100% !important;
}

input {
  height: 3rem;
}

select {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: left;

  option {
    margin-bottom: 5px;
  }
}

table {
  border: 1px solid rgba($font-color, 0.2);
  th {
    text-align: center;
    background: #fff;
  }
  th,
  td {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    border: 1px solid rgba($font-color, 0.2);
  }
}
.upperCell,
.lowerCell1,
.lowerCell2 {
  padding: 0;
  font-size: 1.2rem;
  text-align: center;
}
td.upperCell {
  border-bottom: none;
}
td.lowerCell1,
td.lowerCell2 {
  border-top: none;
}
td.lowerCell1 {
  border-right: none;
}
td.lowerCell2 {
  border-left: none;
}
