@import "~/app/styles/colors.scss";
$default-font-color: map-get($colors, "default-font-color");
$border-color: rgba(0, 0, 0, 0.1);

.table {
  border-spacing: 0;
  width: 100%;
  height: fit-content;
  font-size: 1.2rem;
  line-height: 1.2rem;
  table-layout: fixed;
  border: none;

  th {
    position: relative;
    color: rgba($default-font-color, 0.5);
    border-right: 1px solid $border-color;
    padding: 1.5rem 1rem;
    background: var(--table-header-color);

    &:first-child {
      text-align: center;
    }
  }
  td {
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding: 1rem;
  }
}

.cursorPointer {
  cursor: pointer;
}

.sortingIcon,
.columnCanSort {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 1.5rem;
}

.columnCanSort {
  display: inline-flex;
  flex-direction: column;

  svg:nth-child(2) {
    margin-top: -0.8rem;
  }
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  // column resize direction: ltr
  right: 0;
}

.resizer.isResizing {
  background: var(--primary);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 1rem;
  margin-right: 3rem;
  gap: 1rem;

  a,
  span {
    font-size: 2rem;
    font-weight: 400;

    &.activePage {
      cursor: default;
      color: var(--gray);
    }
  }
}
