@import "~/app/styles/colors.scss";

$border-color: map-get($colors, "default-font-color");

.hide-btn {
  position: absolute;
  right: 3rem;
  width: 3.2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 12px;
  background: url("~/shared/assets/svg/hide.svg") center no-repeat;
  background-size: cover;
}

.input-group {
  width: 40rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba($border-color, 0.5);
  border-radius: var(--default-border-radius);
}

.rounded-input {
  border-radius: var(--default-border-radius);
  padding: 2rem 3rem;
  color: var(--default-font-color);
  font-family: "Gilroy";
  font-size: 2rem;
  font-weight: 600;
  border: none;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
  }
}

.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid rgba($border-color, 0.5);

  .rounded-input {
    width: 100%;
    box-sizing: border-box;
  }
}

.input-error {
  border-color: red;
}
.error-message {
  color: red;
  font-size: 12px;
}
