@import "~/app/styles/colors.scss";
$default-font-color: map-get($colors, "default-font-color");

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-right: 0.7rem;

  label {
    color: rgba($default-font-color, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
  }
  input,
  textarea,
  select {
    font-size: 1.2rem;
    box-sizing: border-box;
    border: 1px solid rgba($default-font-color, 0.5);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 12rem;

    &:focus-visible {
      outline: none;
    }
  }

  select {
    padding: 0.7rem 1rem;

    option {
      font-size: 1.2rem;
    }
    &:focus {
      border-color: rgba($default-font-color, 0.5);
      box-shadow: none;
    }
  }
}

.edit-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  label {
    color: rgba($default-font-color, 0.2);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem 0;
    color: $default-font-color;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;

    border: none;
    border-bottom: 1px solid rgba($default-font-color, 0.1);

    &:focus-visible {
      outline: none;
    }
  }
}

.checkbox {
  box-sizing: border-box;
  border: 1px solid #bebebe;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
}

.invisible-input {
  border: none;
  padding: 0 1rem;
  margin: 0;

  &:focus,
  &:focus-visible,
  &:focus-within {
    border: none;
    outline: none;
  }
}
