main {
  flex: 1;
  border-radius: 30px;
  backdrop-filter: blur(30px);
  background: #fff;
  margin-right: 2rem;
}

.main-head {
  padding: 3rem;
}

@import "~/app/styles/colors.scss";
$default-font-color: map-get($colors, "default-font-color");

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: var(--default-font-color);
    font-family: "Gilroy";
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
  }

  button {
    background: none;
    border: none;
    color: rgba($default-font-color, 0.5);
    font-family: "Gilroy";
    font-size: 3rem;
    font-weight: 700;
    height: 1rem;
    line-height: 1rem;
  }
}

.control-panel {
  margin-top: 2rem;
  display: flex;

  .actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    span {
      color: rgba($default-font-color, 0.5);
      font-family: "Gilroy";
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 14px;
    }
    button {
      object-fit: contain;
      box-sizing: border-box;
      border: 1px solid var(--primary);
      border-radius: 5px;
      padding: 4px 5px;
      color: var(--primary);
      background: transparent;
    }
  }
}
