aside {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 16rem 1.4rem;
  width: 6rem;
  a {
    object-fit: contain;
    padding: 1rem;
    background: #fff;
    border-radius: 50%;
    width: fit-content;
  }
}
