@import "~/app/styles/vars.scss";

$border-color: map-get($colors, 'default-font-color');

.password-input-container {
    display: flex;
    align-items: center;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid rgba($border-color, 0.5);

    .rounded-input {
        width: 100%;
        box-sizing: border-box;
    }
}

.hide-btn {
    position: absolute;
    right: 3rem;
    width: 3.2rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 12px;
    background: url("@assets/icons/hide.svg") center no-repeat;
    background-size: cover;
}